.header {
  position: sticky;
  text-align: center;
  padding: 10px 0;
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  a {
    text-decoration: none;
    color: #000;

    h2 {
      margin-bottom: 10px;
    }
  }
}

@include mediaDesktop {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 170px;

    a {
      
      h2 {
        margin-bottom: 0;
      }
    }
  }
}