.header {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 999;

  a {
    text-decoration: none;
    color: #000;

    h2 {
      margin-bottom: 10px;
    }
  }
}

@include mediaDesktop {
  .header {
    @include flexCenterBetween;
    padding: 15px 170px;

    a {
      
      h2 {
        margin-bottom: 0;
      }
    }
  }
}