.menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  padding: 14px 25px;

  a {
    color: #000;
    font-size: 22px;
    display: flex;
    align-items: center;
  }
}

@include mediaDesktop {
  .menu {
    all: unset;
    display: flex;
    
    a {

      &:not(:last-child) {
        margin-right: 30px;
        font-size: 24px;
      }
    }
  }
}