.menu {
  @include flexCenter(space-between);
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  padding: 14px 25px;
  background: #fff;

  a {
    color: #000;
    font-size: 22px;
    display: flex;
    align-items: center;
  }

  .notification {
    display: flex;
    align-items: center;
    position: relative;

    svg {
      font-size: 24px;
      cursor: pointer;
    }

    &__dropdown {
      position: absolute;
      width: 250px;
      height: 300px !important;
      overflow: auto !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      background: #fff;
      bottom: 100%;
      margin-bottom: 13px;
      right: 0;
      border-radius: 5px;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 150ms;

      &.active {
        transform: scaleY(1);
      }
    }
  }

  .profile {
    position: relative;
    cursor: pointer;

    &__dropdown {
      width: 110px;
      position: absolute;
      top: -95px;
      right: 0;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, .4);
      border-radius: 5px;
      transform: scaleY(0);
      transform-origin: bottom;
      transition: transform 150ms;

      &.active {
        transform: scaleY(1);
      }

      .separator {
        width: 100%;
        height: 1px;
        background: rgb(214, 214, 214);
      }

      a {
        font-size: 15px !important;
        padding: 8px 10px;
        width: 100%;

        &:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }

        &:hover {
          background: rgb(240, 240, 240);
        }

        svg {
          margin-right: 7px;
        }
      }
    }
  }
}

@include mediaDesktop {
  .menu {
    all: unset;
    display: flex;
    
    a {

      &:not(:last-child) {
        margin-right: 30px;
        font-size: 24px;
      }
    }

    .profile {

      &__dropdown {
        top: 40px;
        transform-origin: top;
      }
    }

    .notification {
      margin-right: 30px;
      
      &__dropdown {
        all: unset;
        position: absolute;
        top: 40px;
        right: 0;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);
        border-radius: 5px;
        width: 300px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 150ms;

        &.active {
          transform: scaleY(1);
        }
      }
    }
  }
}