.postFooter__form {
  display: flex;
  padding: 12px 15px;

  &--left {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &--right {
    display: flex;
    align-items: center;

    .emoji {
      transform: translateY(-2px);
      margin-right: 7px;
    }
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    padding-right: 7px;
  }

  button {
    all: unset;
    color: rgb(69, 69, 209);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background: transparent;
    }
  }
}