@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.notFound {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.notFound h1 {
  color: #A0AEC0;
  font-weight: 500;
}

.auth {
  width: 100%;
  height: 100vh;
  position: relative;
}

.auth__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
}

.auth__box h1 {
  text-align: center;
  margin-bottom: 15px;
}

.auth__box p {
  text-align: center;
  margin-top: 15px;
}

.auth__box form {
  border: 1px solid #A0AEC0;
  border-radius: 5px;
  padding: 15px;
}

.home {
  margin-top: 35px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home > * + * {
  margin-left: 80px;
}

.homeLeft {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.homeRight {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: none;
}

.homeRight__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeRight__user div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeRight__user div:first-child p {
  margin-left: 20px;
}

.homeRight__user button {
  background: #35a7ff;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.homeRight__user button:hover {
  background: #2a90dd;
}

.homeRight .reloadGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0 25px 0;
}

.homeRight .reloadGroup svg {
  font-size: 21px;
  cursor: pointer;
  color: #4d4d4d;
}

.homeRight .reloadGroup h4 {
  font-weight: 500;
  color: #646464;
}

@media (min-width: 850px) {
  .homeRight {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
  }
}

.avatar {
  background: #ccc;
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.avatar--xs {
  width: 28px;
  height: 28px;
}

.avatar--small {
  width: 40px;
  height: 40px;
}

.avatar--medium {
  width: 70px;
  height: 70px;
}

.avatar--big {
  width: 140px;
  height: 140px;
}

.avatar--supper {
  width: 180px;
  height: 180px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.userCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.userCard:not(:last-child) {
  margin-bottom: 25px;
}

.userCard__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userCard__left div:last-child {
  margin-left: 15px;
}

.userCard__left div:last-child small {
  color: #767676;
}

.followBtn {
  border: 1px solid #35a7ff !important;
  background: transparent !important;
  color: #35a7ff !important;
}

.followBtn:hover {
  background: #35a7ff !important;
  color: #fff !important;
}

.followBtn.active {
  background: #35a7ff !important;
  color: #fff !important;
}

.postThumbnail {
  background: #ccc;
  height: 250px;
  cursor: pointer;
  position: relative;
}

.postThumbnail a {
  outline: none;
}

.postThumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.postThumbnail:hover .postThumbnail--overlay {
  opacity: 1;
}

.postThumbnail--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

.postThumbnail--overlay div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 22px;
}

.postThumbnail--overlay div svg {
  margin-right: 5px;
}

.postThumbnail--overlay > * + * {
  margin-left: 20px;
}

.discover {
  margin-top: 30px !important;
  margin-bottom: 50px !important;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
}

.confirmAlert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

.confirmAlert.active {
  opacity: 1;
  pointer-events: all;
}

.confirmAlert__box {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.confirmAlert__box.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.confirmAlert__header {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
}

.confirmAlert__body {
  padding: 15px;
}

.confirmAlert__button {
  margin-top: 20px;
}

.confirmAlert__button button:first-child {
  background-color: #ee5d5d;
}

.confirmAlert__button button:last-child {
  background-color: #ccc;
  color: #575757;
}

.confirmAlert__button > * + * {
  margin-left: 25px;
}

.singleNotification {
  padding: 10px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.singleNotification > * + * {
  margin-left: 15px;
}

.singleNotification:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.singleNotification__left {
  position: relative;
}

.singleNotification__left .readIcon {
  width: 10px;
  height: 10px;
  background-color: #35a7ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.singleNotification__right {
  font-size: 15px;
}

.singleNotification__right span {
  font-weight: 500;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #35a7ff;
  border-bottom: 5px solid #35a7ff;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 900ms linear infinite;
  animation: spin 900ms linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.notFoundId {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notFoundId h1 {
  text-align: center;
}

.notFoundId__left img {
  width: 250px;
  height: 250px;
}

.notFoundId__right {
  text-align: center;
}

.notFoundId__right p {
  font-size: 30px;
  font-weight: 500;
}

.notFoundId__right a {
  text-decoration: none;
  color: #fff;
  background: #1A202C;
  margin: 30px auto 0 auto;
  display: block;
  width: 150px;
  border-radius: 6px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
}

.notFoundId__right a:hover {
  background: #2D3748;
}

@media (min-width: 850px) {
  .notFoundId__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .notFoundId__left img {
    width: 400px;
    height: 400px;
    margin-right: 100px;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 999;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header a h2 {
  margin-bottom: 10px;
}

@media (min-width: 850px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 170px;
  }
  .header a h2 {
    margin-bottom: 0;
  }
}

.search {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.search input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 6px;
}

.search span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #aaa;
  font-size: 13px;
  width: 100%;
  font-weight: 300;
  pointer-events: none;
}

.search span svg {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  margin-right: 7px;
}

.searchResult {
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-top: 10px;
  background: #fff;
}

.searchResult__single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 7px 15px;
}

.searchResult__single--right {
  margin-left: 10px;
}

.searchResult__single h5 {
  text-align: left;
  margin-top: 5px;
}

.searchResult__single:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.searchResult__single:first-child {
  border-radius: 5px 5px 0 0;
}

.searchResult__single:last-child {
  border-radius: 0 0 5px 5px;
}

.searchResult__single:hover {
  background: #f2f2f2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: left;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 14px 25px;
  background: #fff;
}

.menu a {
  color: #000;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu .notification svg {
  font-size: 24px;
  cursor: pointer;
}

.menu .notification__dropdown {
  position: absolute;
  width: 250px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  bottom: 100%;
  margin-bottom: 13px;
  right: 0;
  border-radius: 5px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.menu .notification__dropdown.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu .profile {
  position: relative;
  cursor: pointer;
}

.menu .profile__dropdown {
  width: 110px;
  position: absolute;
  top: -95px;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.menu .profile__dropdown.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.menu .profile__dropdown .separator {
  width: 100%;
  height: 1px;
  background: #d6d6d6;
}

.menu .profile__dropdown a {
  font-size: 15px !important;
  padding: 8px 10px;
  width: 100%;
}

.menu .profile__dropdown a:first-child {
  border-radius: 5px 5px 0 0;
}

.menu .profile__dropdown a:last-child {
  border-radius: 0 0 5px 5px;
}

.menu .profile__dropdown a:hover {
  background: #f0f0f0;
}

.menu .profile__dropdown a svg {
  margin-right: 7px;
}

@media (min-width: 850px) {
  .menu {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu a:not(:last-child) {
    margin-right: 30px;
    font-size: 24px;
  }
  .menu .profile__dropdown {
    top: 40px;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .menu .notification {
    margin-right: 30px;
  }
  .menu .notification__dropdown {
    all: unset;
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 300px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 150ms;
    transition: -webkit-transform 150ms;
    transition: transform 150ms;
    transition: transform 150ms, -webkit-transform 150ms;
  }
  .menu .notification__dropdown.active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.postCard {
  border: 1px solid #ccc;
  margin-bottom: 70px;
}

@media (min-width: 850px) {
  .postCard {
    margin-bottom: 30px;
  }
}

.postHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
}

.postHeader svg {
  cursor: pointer;
}

.postHeader__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.postHeader__user p {
  margin-left: 10px;
}

.postHeader__menu {
  position: relative;
}

.postHeader__menuDropdown {
  position: absolute;
  top: 30px;
  right: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 99;
}

.postHeader__menuDropdown.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.postHeader__menuDropdown--single {
  width: 125px;
  background: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.postHeader__menuDropdown--single svg {
  margin-right: 7px;
}

.postHeader__menuDropdown--single:hover {
  background-color: #f2f2f2;
}

.postBody {
  border-top: 1px solid #ccc;
}

.postBody__image {
  width: 100%;
  height: 350px;
  position: relative;
}

.postBody__image:hover > svg {
  opacity: 1;
}

.postBody__image svg {
  position: absolute;
  top: 50%;
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
  z-index: 99;
}

.postBody__image svg:first-child {
  left: 12px;
}

.postBody__image svg:last-child {
  right: 12px;
}

.postBody__image img,
.postBody__image video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.postBody__image video {
  pointer-events: all;
}

.postBody__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px 2px 15px;
}

.postBody__menu--left > * + * {
  margin-left: 15px;
}

.postBody__menu svg {
  font-size: 25px;
  cursor: pointer;
}

.postBody__info {
  padding: 0 15px;
}

.postBody__info--comments p {
  font-size: 15px;
}

.postBody__info--comments p span {
  margin-right: 15px;
  font-weight: bold;
}

.postBody__info--comments .caption {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.postFooter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 15px;
}

.postFooter__form--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postFooter__form--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postFooter__form--right .emoji {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  margin-right: 7px;
}

.postFooter__form input {
  width: 100%;
  border: none;
  outline: none;
  padding-right: 7px;
}

.postFooter__form button {
  all: unset;
  color: #4545d1;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.postFooter__form button:hover {
  background: transparent;
}

.shareModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin: 10px 0;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ededed;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
  padding: 10px;
}

.comment small {
  margin-top: 7px;
  display: inline-block;
  font-weight: 500;
}

.comment small:not(:last-child) {
  margin-right: 25px;
}

.comment--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment--right svg {
  cursor: pointer;
  margin-left: 8px;
}

.commentMenu {
  position: relative;
}

.commentMenu__dropdown {
  position: absolute;
  top: 25px;
  right: 7px;
  width: 120px;
  background: #fff;
  border-radius: 5px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.commentMenu__dropdown.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.commentMenu__dropdown span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 5px;
}

.commentMenu__dropdown span:hover {
  background-color: #e6e6e6;
}

.commentMenu__dropdown span svg {
  margin-right: 8px;
}

.postModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 0 30px;
}

.postModal__box {
  background: #fff;
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
}

.postModal__box--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.postModal__box--header svg {
  cursor: pointer;
}

.postModal__box--content {
  padding: 15px;
}

.postModal__box--content form div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.postModal__box--content form div:first-child > * + * {
  margin-left: 20px;
}

.postModal__box--content form div:first-child textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.postModal__box--content form div:first-child .postImage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.postModal__box--content form div:first-child .postImage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.postModal__box--content form div:first-child .postImage__icon > * + * {
  margin-left: 15px;
}

.postModal__box--content form div:first-child .postImage__icon .fileInput {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer !important;
}

.postModal__box--content form div:first-child .postImage__icon .fileInput svg {
  position: absolute;
  top: 0;
  left: 0;
}

.postModal__box--content form div:first-child .postImage__icon .fileInput input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  height: 30px;
}

.postModal__box--content form div:first-child .postImage__icon svg {
  cursor: pointer;
  font-size: 30px;
}

.postModal__box--content form div:first-child .postImage__container {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border: 5px dashed #ccc;
  overflow: auto;
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(85px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
}

.postModal__box--content form div:first-child .postImage__container::-webkit-scrollbar {
  display: none;
}

.postModal__box--content form div:first-child .postImage__container div {
  position: relative;
}

.postModal__box--content form div:first-child .postImage__container div img {
  width: 85px;
  height: 85px;
  -o-object-fit: contain;
     object-fit: contain;
  border: 3px solid #ccc;
}

.postModal__box--content form div:first-child .postImage__container div video {
  width: 85px;
  height: 85px;
  border: 3px solid #ccc;
}

.postModal__box--content form div:first-child .postImage__container div svg {
  position: absolute;
  top: -5px;
  right: 5px;
  border-radius: 50%;
  color: red;
  font-size: 20px;
  border: 1px solid red;
  background-color: #fff;
  cursor: pointer;
}

.postModal__box--content form div:first-child .postImage__video {
  margin-top: 15px;
  position: relative;
}

.postModal__box--content form div:first-child .postImage__video svg {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  font-size: 22px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.postModal__box--content form button {
  margin-top: 20px;
  float: right;
}

@media (min-width: 850px) {
  .postModal {
    padding: 0;
  }
}

.userProfile {
  padding: 30px 100px;
}

.userProfile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.userProfile__right--username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 20px;
}

.userProfile__right--usernameInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userProfile__right--usernameInfo svg {
  margin-left: 10px;
  font-size: 25px;
}

.userProfile__right--username button {
  background: #35a7ff;
}

.userProfile__right--username button:hover {
  background: #2a90dd;
}

.userProfile__right--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  font-weight: 500;
}

.userProfile__right--info div:not(:first-child) {
  cursor: pointer;
}

.userProfile__right--info div:not(:first-child):hover {
  text-decoration: underline;
}

.userProfile__right--info > * + * {
  margin-left: 35px;
}

.userProfile__right .fullname, .userProfile__right .address, .userProfile__right .email {
  margin-bottom: 5px;
}

.userProfile__right .story {
  margin-top: 5px;
}

.userProfile__bottom {
  margin-top: 40px;
}

.userProfile__bottom--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.userProfile__bottom--header > * + * {
  margin-left: 100px;
}

.userProfile__bottom--header div {
  cursor: pointer;
}

.userProfile__bottom--header div.active {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-weight: bold;
}

@media (min-width: 850px) {
  .userProfile__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .userProfile__right {
    margin-left: 60px;
  }
  .userProfile__right--username {
    margin-top: 0;
  }
}

.editProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 0 30px;
}

.editProfile__box {
  width: 100%;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  overflow: auto;
}

.editProfile__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.editProfile__header svg {
  cursor: pointer;
}

.editProfile__content {
  padding: 20px;
}

.editProfile__content .inputFile {
  margin-bottom: 20px;
}

.editProfile__content .inputFile div {
  margin: auto;
}

.editProfile__content .inputFile input {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 7px;
}

@media (min-width: 850px) {
  .editProfile {
    padding: 0;
  }
}

.profilePost {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 25px;
}

.followModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 40px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
}

.followModal.active {
  opacity: 1;
  pointer-events: all;
}

.followModal__box {
  width: 100%;
  max-width: 380px;
  background-color: #fff;
  height: 70vh;
  overflow: auto;
  border-radius: 5px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.followModal__box.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.followModal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.followModal__header svg {
  cursor: pointer;
}

.followModal__body {
  padding: 15px;
}

@media (min-width: 850px) {
  .followersModal {
    padding: 0;
  }
}

.message {
  width: 100%;
  height: 78vh;
  margin-top: 30px !important;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__left {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.message__right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.message__right .placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #777777;
}

.message__right .placeholder svg {
  font-size: 130px;
}

.peopleList {
  border-right: 1px solid #ccc;
  height: 100%;
}

.peopleList form {
  padding: 15px;
}

.peopleList form div {
  position: relative;
}

.peopleList form div input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 6px;
}

.peopleList form div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 13px;
  pointer-events: none;
  color: #ccc;
  width: 100%;
}

.peopleList form div span svg {
  margin-right: 5px;
}

.peopleList form button {
  display: none;
}

.peopleList__container a {
  display: block;
  padding: 5px 10px;
}

.peopleList__container a:hover {
  background: #f2f2f2;
}

.chatView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chatView__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 25px;
}

.chatView__header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatView__header--left p {
  margin-left: 10px;
}

.chatView__header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatView__header--right svg {
  cursor: pointer;
}

.chatView__header--right svg:not(:last-child) {
  font-size: 20px;
}

.chatView__header--right > * + * {
  margin-left: 20px;
}

.chatView__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px 25px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatView__body::-webkit-scrollbar {
  display: none;
}

.chatView__body--message {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chatView__body--message:not(:last-child) {
  margin-bottom: 15px;
}

.chatView__body--yourMessage {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
}

.chatView__imageHolder {
  height: 70px;
  border-top: 1px solid #ccc;
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.chatView__imageHolder img, .chatView__imageHolder video {
  width: 60px;
  height: 50px;
}

.chatView__imageHolder > * + * {
  margin-left: 20px;
}

.chatView__imageHolder--single {
  position: relative;
}

.chatView__imageHolder--single p {
  position: absolute;
  top: -15px;
  right: -10px;
  color: red;
  font-weight: 500;
  font-size: 26px;
  cursor: pointer;
}

.chatView__footer {
  border-top: 1px solid #ccc;
}

.chatView__footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px;
}

.chatView__footer form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
}

.chatView__footer form button {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatView__footerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatView__footerRight .emoji {
  margin-right: 20px;
  position: relative;
}

.chatView__footerRight .emoji__first {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  cursor: pointer;
}

.chatView__footerRight .emoji__container {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 200px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
  padding: 10px;
  grid-gap: 5px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.chatView__footerRight .emoji__container.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.chatView__footerRight .emoji__container p {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.chatView__footerRight .fileSelector {
  position: relative;
  margin-right: 18px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.chatView__footerRight .fileSelector input {
  position: absolute;
  opacity: 0;
  z-index: 99;
  height: 20px;
}

.chatView__footerRight .fileSelector svg {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.singleMessage__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.singleMessage__upper--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.singleMessage__upper--reverse .singleMessage__left {
  margin-left: 15px;
}

.singleMessage__left {
  width: 30px;
  height: 30px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.singleMessage__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.singleMessage__right p {
  font-size: 14px;
  padding: 10px;
  word-wrap: break-word;
}

.singleMessage__right .otherMessage {
  background: #f0f0f0;
  border-radius: 10px;
  position: relative;
}

.singleMessage__right .yourMessage {
  background: #35a7ff;
  color: #fff;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 250px;
}

.singleMessage__image {
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.singleMessage__image--own {
  margin-right: 52px;
}

.singleMessage__image--other {
  margin-left: 40px;
}

.singleMessage__image img,
.singleMessage__image video {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.singleMessage__image img:first-child,
.singleMessage__image video:first-child {
  margin-top: 7px;
}

.singleMessage__image img:not(:last-child),
.singleMessage__image video:not(:last-child) {
  margin-bottom: 5px;
}

.singleMessage__callContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ededed;
  border-radius: 5px;
  padding: 10px;
}

.singleMessage__callContainer svg {
  margin-right: 10px;
  font-size: 25px;
}

.callModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  padding: 0 30px;
}

.callModal__box {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 60px 0;
}

.callModal__box div:first-child {
  margin: 0 auto  30px auto;
}

.callModal__box .username {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 5px;
}

.callModal__box .name {
  margin-bottom: 10px;
}

.callModal__box small {
  font-size: 20px;
  margin-right: 5px;
}

.callModal__box .calling {
  margin: 20px 0;
}

.callModal__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callModal__icon > * + * {
  margin-left: 40px;
}

.callModal__icon svg {
  font-size: 35px;
  cursor: pointer;
}

.callModal__icon svg:first-child {
  color: green;
}

.callModal__icon svg:last-child {
  color: red;
}

.show__video {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.show__video .other__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show__video .your__video {
  position: absolute;
  top: 25px;
  right: 10px;
  border: 2px solid red;
  z-index: 2;
  width: 30%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}

.show__video .videoCallTimespan {
  position: absolute;
  bottom: 30px;
  left: 50%;
  font-size: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.show__video .videoCallTimespan .endVideoCallButton {
  display: block;
  color: red;
  background: #fff;
  border-radius: 50%;
  font-size: 45px;
  cursor: pointer;
  margin: 10px auto;
}

@media (min-width: 850px) {
  .callModal {
    width: 100vw;
  }
  .callModal__box {
    width: 300px;
    margin: auto;
  }
}

.clear {
  clear: both;
}

.container {
  width: 90%;
  margin: auto;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  margin-bottom: 10px;
  display: block;
}

.inputGroup input, .inputGroup select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #A0AEC0;
  outline: none;
  text-indent: 7px;
}

.inputGroup textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 5px;
}

.inputGroup--password {
  position: relative;
}

.inputGroup--password svg {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #A0AEC0;
  cursor: pointer;
}

.inputGroup--lengthInfo {
  position: relative;
}

.inputGroup--lengthInfo small {
  position: absolute;
  bottom: 14px;
  right: 10px;
}

button {
  border: none;
  outline: none;
  background-color: #1A202C;
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #2D3748;
}

#__react-alert__ div {
  z-index: 9999 !important;
}

.emoji {
  margin-right: 20px;
  position: relative;
}

.emoji__first {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  cursor: pointer;
}

.emoji__container {
  position: absolute;
  bottom: 100%;
  right: 0;
  width: 200px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
  padding: 10px;
  grid-gap: 5px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

.emoji__container.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.emoji__container p {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 850px) {
  .container {
    width: 75%;
  }
}
/*# sourceMappingURL=main.css.map */