@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.notFound {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.notFound h1 {
  color: #A0AEC0;
  font-weight: 500;
}

.auth {
  width: 100%;
  height: 100vh;
  position: relative;
}

.auth__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 300px;
}

.auth__box h1 {
  text-align: center;
  margin-bottom: 15px;
}

.auth__box p {
  text-align: center;
  margin-top: 15px;
}

.auth__box form {
  border: 1px solid #A0AEC0;
  border-radius: 5px;
  padding: 15px;
}

.home {
  margin-top: 35px !important;
  display: flex;
}

.home > * + * {
  margin-left: 80px;
}

.homeLeft {
  flex: 3;
}

.homeRight {
  flex: 2;
  display: none;
}

.homeRight__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeRight__user div:first-child {
  display: flex;
  align-items: center;
}

.homeRight__user div:first-child p {
  margin-left: 20px;
}

.homeRight__user button {
  background: #35a7ff;
  transition: 150ms;
}

.homeRight__user button:hover {
  background: #2a90dd;
}

.homeRight .reloadGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0 25px 0;
}

.homeRight .reloadGroup svg {
  font-size: 21px;
  cursor: pointer;
  color: #4d4d4d;
}

.homeRight .reloadGroup h4 {
  font-weight: 500;
  color: #646464;
}

@media (min-width: 850px) {
  .homeRight {
    height: fit-content;
    display: block;
    position: sticky;
    top: 110px;
  }
}

.avatar {
  background: #ccc;
  border-radius: 50%;
}

.avatar--xs {
  width: 28px;
  height: 28px;
}

.avatar--small {
  width: 40px;
  height: 40px;
}

.avatar--medium {
  width: 70px;
  height: 70px;
}

.avatar--big {
  width: 140px;
  height: 140px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.userCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userCard:not(:last-child) {
  margin-bottom: 25px;
}

.userCard__left {
  display: flex;
  align-items: center;
}

.userCard__left div:last-child {
  margin-left: 15px;
}

.userCard__left div:last-child small {
  color: #767676;
}

.followBtn {
  border: 1px solid #35a7ff !important;
  background: transparent !important;
  color: #35a7ff !important;
}

.followBtn:hover {
  background: #35a7ff !important;
  color: #fff !important;
}

.followBtn.active {
  background: #35a7ff !important;
  color: #fff !important;
}

.postThumbnail {
  background: #ccc;
  height: 250px;
  cursor: pointer;
  position: relative;
}

.postThumbnail a {
  outline: none;
}

.postThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postThumbnail:hover .postThumbnail--overlay {
  opacity: 1;
}

.postThumbnail--overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 150ms;
}

.postThumbnail--overlay div {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 22px;
}

.postThumbnail--overlay div svg {
  margin-right: 5px;
}

.postThumbnail--overlay > * + * {
  margin-left: 20px;
}

.discover {
  margin-top: 30px !important;
  margin-bottom: 50px !important;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px;
}

.confirmAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms;
}

.confirmAlert.active {
  opacity: 1;
  pointer-events: all;
}

.confirmAlert__box {
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background: #fff;
  transform: scale(0);
  transition: transform 150ms;
}

.confirmAlert__box.active {
  transform: scale(1);
}

.confirmAlert__header {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
}

.confirmAlert__body {
  padding: 15px;
}

.confirmAlert__button {
  margin-top: 20px;
}

.confirmAlert__button button:first-child {
  background-color: #E53E3E;
}

.confirmAlert__button button:last-child {
  background-color: #ccc;
  color: #575757;
}

.confirmAlert__button > * + * {
  margin-left: 25px;
}

.singleNotification {
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

.singleNotification > * + * {
  margin-left: 15px;
}

.singleNotification:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.singleNotification__left {
  position: relative;
}

.singleNotification__left div:last-child {
  width: 10px;
  height: 10px;
  background-color: #35a7ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.singleNotification__right {
  font-size: 15px;
}

.singleNotification__right span {
  font-weight: 500;
}

.header {
  position: sticky;
  top: 0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 999;
}

.header a {
  text-decoration: none;
  color: #000;
}

.header a h2 {
  margin-bottom: 10px;
}

@media (min-width: 850px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 170px;
  }
  .header a h2 {
    margin-bottom: 0;
  }
}

.search {
  position: relative;
  height: fit-content;
}

.search input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 6px;
}

.search span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aaa;
  font-size: 13px;
  width: 100%;
  font-weight: 300;
  pointer-events: none;
}

.search span svg {
  transform: translateY(3px);
  margin-right: 7px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 14px 25px;
  background: #fff;
}

.menu a {
  color: #000;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.menu .notification {
  display: flex;
  align-items: center;
  position: relative;
}

.menu .notification svg {
  font-size: 24px;
  cursor: pointer;
}

.menu .notification__dropdown {
  position: absolute;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  bottom: 100%;
  margin-bottom: 13px;
  right: 0;
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 150ms;
}

.menu .notification__dropdown.active {
  transform: scaleY(1);
}

.menu .profile {
  position: relative;
  cursor: pointer;
}

.menu .profile__dropdown {
  width: 110px;
  position: absolute;
  top: -95px;
  right: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 150ms;
}

.menu .profile__dropdown.active {
  transform: scaleY(1);
}

.menu .profile__dropdown .separator {
  width: 100%;
  height: 1px;
  background: #d6d6d6;
}

.menu .profile__dropdown a {
  font-size: 15px !important;
  padding: 8px 10px;
  width: 100%;
}

.menu .profile__dropdown a:first-child {
  border-radius: 5px 5px 0 0;
}

.menu .profile__dropdown a:last-child {
  border-radius: 0 0 5px 5px;
}

.menu .profile__dropdown a:hover {
  background: #f0f0f0;
}

.menu .profile__dropdown a svg {
  margin-right: 7px;
}

@media (min-width: 850px) {
  .menu {
    all: unset;
    display: flex;
  }
  .menu a:not(:last-child) {
    margin-right: 30px;
    font-size: 24px;
  }
  .menu .profile__dropdown {
    top: 40px;
    transform-origin: top;
  }
  .menu .notification {
    margin-right: 30px;
  }
  .menu .notification__dropdown {
    all: unset;
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 300px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 150ms;
  }
  .menu .notification__dropdown.active {
    transform: scaleY(1);
  }
}

.postCard {
  border: 1px solid #ccc;
  margin-bottom: 70px;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.postHeader svg {
  cursor: pointer;
}

.postHeader__user {
  display: flex;
  align-items: center;
  flex: 1;
}

.postHeader__user p {
  margin-left: 10px;
}

.postHeader__menu {
  position: relative;
}

.postHeader__menuDropdown {
  position: absolute;
  top: 30px;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: transform 150ms;
  transform: scaleY(0);
  transform-origin: top;
  z-index: 999;
}

.postHeader__menuDropdown.active {
  transform: scaleY(1);
}

.postHeader__menuDropdown--single {
  width: 125px;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.postHeader__menuDropdown--single svg {
  margin-right: 7px;
}

.postHeader__menuDropdown--single:hover {
  background-color: #f2f2f2;
}

.postBody {
  border-top: 1px solid #ccc;
}

.postBody__image {
  width: 100%;
  height: 350px;
  position: relative;
}

.postBody__image:hover > svg {
  opacity: 1;
}

.postBody__image svg {
  position: absolute;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 150ms;
}

.postBody__image svg:first-child {
  left: 12px;
}

.postBody__image svg:last-child {
  right: 12px;
}

.postBody__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.postBody__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px 2px 15px;
}

.postBody__menu--left > * + * {
  margin-left: 15px;
}

.postBody__menu svg {
  font-size: 25px;
  cursor: pointer;
}

.postBody__info {
  padding: 0 15px;
}

.postBody__info--comments p {
  font-size: 15px;
}

.postBody__info--comments p span {
  margin-right: 15px;
  font-weight: bold;
}

.postBody__info--comments .caption {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.postFooter__form {
  display: flex;
  padding: 12px 15px;
}

.postFooter__form input {
  width: 100%;
  border: none;
  outline: none;
  padding-right: 7px;
}

.postFooter__form button {
  all: unset;
  color: #4545d1;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.postFooter__form button:hover {
  background: transparent;
}

.comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ededed;
  border-radius: 5px 5px 0 0;
  margin-bottom: 15px;
  padding: 10px;
}

.comment small {
  margin-top: 7px;
  display: inline-block;
  font-weight: 500;
}

.comment small:not(:last-child) {
  margin-right: 25px;
}

.comment--right {
  display: flex;
  align-items: center;
}

.comment--right svg {
  cursor: pointer;
  margin-left: 8px;
}

.commentMenu {
  position: relative;
}

.commentMenu__dropdown {
  position: absolute;
  top: 25px;
  right: 7px;
  width: 120px;
  background: #fff;
  border-radius: 5px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 150ms;
  z-index: 999;
}

.commentMenu__dropdown.active {
  transform: scaleY(1);
}

.commentMenu__dropdown span {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.commentMenu__dropdown span:hover {
  background-color: #e6e6e6;
}

.commentMenu__dropdown span svg {
  margin-right: 8px;
}

.postModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 0 30px;
}

.postModal__box {
  background: #fff;
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
}

.postModal__box--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.postModal__box--header svg {
  cursor: pointer;
}

.postModal__box--content {
  padding: 15px;
}

.postModal__box--content form div:first-child {
  display: flex;
}

.postModal__box--content form div:first-child > * + * {
  margin-left: 20px;
}

.postModal__box--content form div:first-child textarea {
  flex: 1;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.postModal__box--content form div:first-child .postImage {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.postModal__box--content form div:first-child .postImage__icon {
  display: flex;
  margin-top: 10px;
}

.postModal__box--content form div:first-child .postImage__icon > * + * {
  margin-left: 15px;
}

.postModal__box--content form div:first-child .postImage__icon .fileInput {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer !important;
}

.postModal__box--content form div:first-child .postImage__icon .fileInput svg {
  position: absolute;
  top: 0;
  left: 0;
}

.postModal__box--content form div:first-child .postImage__icon .fileInput input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  height: 30px;
}

.postModal__box--content form div:first-child .postImage__icon svg {
  cursor: pointer;
  font-size: 30px;
}

.postModal__box--content form div:first-child .postImage__container {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border: 5px dashed #ccc;
  overflow: auto;
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
}

.postModal__box--content form div:first-child .postImage__container::-webkit-scrollbar {
  display: none;
}

.postModal__box--content form div:first-child .postImage__container div {
  position: relative;
}

.postModal__box--content form div:first-child .postImage__container div img {
  width: 85px;
  height: 85px;
  object-fit: contain;
  border: 3px solid #ccc;
}

.postModal__box--content form div:first-child .postImage__container div video {
  width: 85px;
  height: 85px;
  border: 3px solid #ccc;
}

.postModal__box--content form div:first-child .postImage__container div svg {
  position: absolute;
  top: -5px;
  right: 5px;
  border-radius: 50%;
  color: red;
  font-size: 20px;
  border: 1px solid red;
  background-color: #fff;
  cursor: pointer;
}

.postModal__box--content form div:first-child .postImage__video {
  margin-top: 15px;
  position: relative;
}

.postModal__box--content form div:first-child .postImage__video svg {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  font-size: 22px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.postModal__box--content form button {
  margin-top: 20px;
  float: right;
}

@media (min-width: 850px) {
  .postModal {
    padding: 0;
  }
}

.userProfile {
  padding: 30px 100px;
}

.userProfile__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.userProfile__right--username {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 20px;
}

.userProfile__right--usernameInfo {
  display: flex;
  align-items: center;
}

.userProfile__right--usernameInfo svg {
  margin-left: 10px;
  font-size: 25px;
}

.userProfile__right--username button {
  background: #35a7ff;
}

.userProfile__right--username button:hover {
  background: #2a90dd;
}

.userProfile__right--info {
  display: flex;
  margin-bottom: 15px;
  font-weight: 500;
}

.userProfile__right--info div:not(:first-child) {
  cursor: pointer;
}

.userProfile__right--info div:not(:first-child):hover {
  text-decoration: underline;
}

.userProfile__right--info > * + * {
  margin-left: 35px;
}

.userProfile__right .fullname, .userProfile__right .story {
  margin-bottom: 5px;
}

.userProfile__bottom {
  margin-top: 40px;
}

.userProfile__bottom--header {
  display: flex;
  justify-content: center;
}

.userProfile__bottom--header > * + * {
  margin-left: 100px;
}

.userProfile__bottom--header div {
  cursor: pointer;
}

.userProfile__bottom--header div.active {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-weight: bold;
}

@media (min-width: 850px) {
  .userProfile__top {
    flex-direction: row;
  }
  .userProfile__right--username {
    margin-top: 0;
  }
}

.editProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 0 30px;
}

.editProfile__box {
  width: 100%;
  height: 90vh;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  overflow: auto;
}

.editProfile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.editProfile__header svg {
  cursor: pointer;
}

.editProfile__content {
  padding: 20px;
}

.editProfile__content .inputFile {
  margin-bottom: 20px;
}

.editProfile__content .inputFile div {
  margin: auto;
}

.editProfile__content .inputFile input {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 7px;
}

@media (min-width: 850px) {
  .editProfile {
    padding: 0;
  }
}

.profilePost {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-top: 25px;
}

.followModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms;
}

.followModal.active {
  opacity: 1;
  pointer-events: all;
}

.followModal__box {
  width: 100%;
  max-width: 380px;
  background-color: #fff;
  height: 70vh;
  overflow: auto;
  border-radius: 5px;
  transform: scale(0);
  transition: transform 150ms;
}

.followModal__box.active {
  transform: scale(1);
}

.followModal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.followModal__header svg {
  cursor: pointer;
}

.followModal__body {
  padding: 15px;
}

@media (min-width: 850px) {
  .followersModal {
    padding: 0;
  }
}

.message {
  width: 100%;
  height: 78vh;
  margin-top: 30px !important;
  border: 1px solid #ccc;
  display: flex;
}

.message__left {
  flex: 2;
}

.message__right {
  flex: 5;
}

.message__right .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  color: #777777;
}

.message__right .placeholder svg {
  font-size: 130px;
}

.peopleList {
  border-right: 1px solid #ccc;
  height: 100%;
}

.peopleList form {
  padding: 15px;
}

.peopleList form div {
  position: relative;
}

.peopleList form div input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  text-indent: 6px;
}

.peopleList form div span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  pointer-events: none;
  color: #ccc;
  width: 100%;
}

.peopleList form div span svg {
  margin-right: 5px;
}

.peopleList form button {
  display: none;
}

.peopleList__container a {
  display: block;
  padding: 12px;
}

.peopleList__container a:hover {
  background: #f2f2f2;
}

.chatView__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 25px;
}

.chatView__header--left {
  display: flex;
  align-items: center;
}

.chatView__header--left p {
  margin-left: 10px;
}

.chatView__header--right {
  display: flex;
  align-items: center;
}

.chatView__header--right svg {
  cursor: pointer;
}

.chatView__header--right svg:not(:last-child) {
  font-size: 20px;
}

.chatView__header--right > * + * {
  margin-left: 20px;
}

.chatView__body {
  height: calc(78vh - 41px - 63px);
  padding: 10px 25px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chatView__body::-webkit-scrollbar {
  display: none;
}

.chatView__body--message {
  width: 40%;
  display: flex;
}

.chatView__body--message:not(:last-child) {
  margin-bottom: 15px;
}

.chatView__body--yourMessage {
  float: right;
  justify-content: flex-end;
}

.chatView__footer {
  border-top: 1px solid #ccc;
}

.chatView__footer form {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.chatView__footer form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0;
}

.chatView__footer form button {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.singleMessage {
  display: flex;
}

.singleMessage__left {
  width: 30px;
  height: 30px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.singleMessage__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.singleMessage__right p {
  font-size: 14px;
  width: fit-content;
  padding: 10px;
}

.singleMessage__right .otherMessage {
  background: #f0f0f0;
  border-radius: 0 10px 10px 10px;
}

.singleMessage__right .yourMessage {
  background: #35a7ff;
  color: #fff;
  border-radius: 10px 10px 0 10px;
}

.clear {
  clear: both;
}

.container {
  width: 90%;
  margin: auto;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  margin-bottom: 10px;
  display: block;
}

.inputGroup input, .inputGroup select {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #A0AEC0;
  outline: none;
  text-indent: 7px;
}

.inputGroup textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 5px;
}

.inputGroup--password {
  position: relative;
}

.inputGroup--password svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #A0AEC0;
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  background-color: #1A202C;
  color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #2D3748;
}

@media (min-width: 850px) {
  .container {
    width: 75%;
  }
}
/*# sourceMappingURL=main.css.map */