.singleMessage {

  &__upper {
    display: flex;

    &--reverse {
      flex-direction: row-reverse;

      .singleMessage__left {
        margin-left: 15px;
      }
    }
  }

  &__left {
    width: 30px;
    height: 30px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__right {

    p {
      font-size: 14px;
      padding: 10px;
      word-wrap: break-word;
    }

    .otherMessage {
      background: rgb(240, 240, 240);
      border-radius: 10px;
      position: relative;
    }

    .yourMessage {
      background: $follow-blue;
      color: #fff;
      border-radius: 10px;
      position: relative;
      display: flex;
      width: fit-content;
      max-width: 250px;
    }
  }

  &__image {
    margin-left: 7px;
    display: flex;
    flex-direction: column;

    &--own {
      margin-right: 52px;
    }

    &--other {
      margin-left: 40px;
    }

    img,
    video {
      width: 150px;
      height: 150px;
      border-radius: 5px;
      object-fit: cover;

      &:first-child {
        margin-top: 7px;
      }

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  
  &__callContainer {
    display: flex;
    align-items: center;
    background: rgb(237, 237, 237);
    border-radius: 5px;
    padding: 10px;

    svg {
      margin-right: 10px;
      font-size: 25px;
    }
  }
}