.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  border-radius: 5px;
  color: #fff;

  &.alert--error {
    background: $red;
    opacity: 1;
    pointer-events: all;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    animation: removeAlert 7s forwards;
  }

  &.alert--success {
    background: $green;
    opacity: 1;
    pointer-events: all;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    animation: removeAlert 7s forwards;
  }

  &__header {
    border-bottom: 1px solid rgb(233, 233, 233);
    padding: 8px 10px;
  }

  &__body {
    padding: 8px 10px;

    p {
      font-size: 14px;
    }
  }
}

@keyframes removeAlert {
  from {
    opacity: 1;
    pointer-events: all;
  }

  to {
    opacity: 0;
    pointer-events: none;
  }
}