.avatar {
  background: #ccc;
  border-radius: 50%;

  &--small {
    width: 40px;
    height: 40px;
  }
  
  &--medium {
    width: 70px;
    height: 70px;
  }

  &--big {
    width: 120px;
    height: 120px;
  }
}