@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$primary-color: #1A202C;
$secondary-color: #2D3748;
$red: #E53E3E;
$green: #48BB78;
$light-gray: #A0AEC0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

@mixin mediaDesktop {
  @media (min-width: 768px) {
    @content;
  }
}