@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$primary-color: #1A202C;
$secondary-color: #2D3748;
$red: #ee5d5d;
$green: #57d58b;
$light-gray: #A0AEC0;
$follow-blue: rgb(53, 167, 255);
$follow-blue-hover: rgb(42, 144, 221);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@mixin flexCenter($justify-content) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
}

@mixin mediaDesktop {
  @media (min-width: 850px) {
    @content;
  }
}