.followBtn {
  border: 1px solid $follow-blue !important;
  background: transparent !important;
  color: $follow-blue !important;

  &:hover {
    background: $follow-blue !important;
    color: #fff !important;
  }

  &.active {
    background: $follow-blue !important;
    color: #fff !important;
  }
}