.home {
  margin-top: 35px !important;
  display: flex;

  & > * + * {
    margin-left: 80px;
  }

  &Left {
    flex: 3;
  }

  &Right {
    flex: 2;
    display: none;

    &__user {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div:first-child {
        display: flex;
        align-items: center;

        p {
          margin-left: 20px;
        }
      }

      button {
        background: $follow-blue;
        transition: 150ms;

        &:hover {
          background: $follow-blue-hover;
        }
      }
    }

    .reloadGroup {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0 25px 0;

      svg {
        font-size: 21px;
        cursor: pointer;
        color: rgb(77, 77, 77);
      }

      h4 {
        font-weight: 500;
        color: rgb(100, 100, 100);
      }
    }
  }
}

@include mediaDesktop {
  .home {

    &Right {
      height: fit-content;
      display: block;
      position: sticky;
      top: 110px;
    }
  }
}