.singleNotification {
  padding: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__content {
    display: flex;
    align-items: center;
  }

  &__delete {
    color: rgb(255, 62, 62);
    cursor: pointer;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  &__left {
    position: relative;
    margin-right: 10px;

    .readIcon{
      width: 10px;
      height: 10px;
      background-color: $follow-blue;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__right {
    font-size: 15px;

    span {
      font-weight: 500;
    }
  }
}