.userCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &__left {
    display: flex;
    align-items: center;

    p {
      margin-left: 15px;
    }
  }

  &__right {

    button {
      background: transparent;
      color: $follow-blue;
      border: 1px solid $follow-blue;

      &:hover {
        background: $follow-blue;
        color: #fff;
      }
    }
  }
}