.userCard {
  @include flexCenter(space-between);

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &__left {
    display: flex;
    align-items: center;

    div:last-child {
      margin-left: 15px;

      small {
        color: rgb(118, 118, 118);
      }
    }
  }
}